* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    height: 100vh;
}

html {
    overflow: hidden;
}

header {
    height: 5vh;
    width: 100%;
    background-color: aqua;
}

nav {
    height: 3vh;
    width: 100%;
    background-color: brown;
}

main {
    height: 90vh;
    width: 100%;
    background-color: aquamarine;
}

footer {
    height: 2vh;
    width: 100%;
    background-color: beige;
}